/*
Color Palette
-----------------------------------
Primary Color: Slate Blue (#6A5ACD)
Secondary Color: Cream (#FFF5E1)
Accent Color: Charcoal (#333333)

Typography
-----------------------------------
Header Font: Montserrat
Body Text Font: Open Sans
Accent Font: Lora

Font Weights
Montserrat: Bold (700) for headers and semi-bold (600) for subheadings
Open Sans: Regular (400) for body text and Medium (500) for emphasis on links or buttons.
*/
/*  
    Main element Styling
*/
main{
    font-family: "Open Sans" , sans-serif;
    display: flex;
    flex-direction: column;
    gap:3rem;
}

/*  
    Header element Styling
*/
header{
    display: flex;
}

/*  
    <nav> element Styling
*/
nav ul {
    display: flex;
    flex-direction: row;
    gap:1rem;
}


/* Headers */
h1,h2,h3,nav li{
    font-family: "Montserrat", sans-serif;
}



a{
    font-family: "Lora", serif;
}