/*
Color Palette
-----------------------------------
Primary Color: Light Gray (#D3D3D3)
Secondary Color:  Deep Charcoal (#333333)
Accent Color: Steel Blue (#4682B4) 

Typography
-----------------------------------
Header Font: Montserrat
Body Text Font: Open Sans
Accent Font: Lora

Font Weights
Montserrat: Bold (700) for headers and semi-bold (600) for subheadings
Open Sans: Regular (400) for body text and Medium (500) for emphasis on links or buttons.
*/
body{
    color:#333333;
    background-color:  #F2F0EF;
}
/*  
    Main element Styling
*/
.main{
    
    font-family: "Open Sans" , sans-serif;
    display: flex;
    flex-direction: column;
    gap:3rem;
    padding: 3rem 0;
   
}

/*  
    Header element Styling
*/
header{
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    color:#D3D3D3;
    padding: 2rem 3rem;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    
    
}

/*  
    <nav> element Styling
*/
nav ul {
    display: flex;
    flex-direction: row;
    gap:3rem;
    color:#D3D3D3;
    justify-content: space-between;
}

/*
    <nav> <ul> <li> <a> (Navbar items styling)
*/
nav ul li a{
    color:#D3D3D3;
    font-weight: 500;
    padding: 0 1rem;
    border-bottom: dotted .01rem #D3D3D3;
    font-family: "Montserrat", sans-serif;
}

nav ul li a:hover{
    color:#4682B4;
    border-bottom: solid .03rem #4682B4;
}

/*
    Skills section Styling
    skills card and skill content classes
*/
.skills-content{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.skills-card{
    border: dotted .01rem #333333;
   width: 100%;
    display: flex;
    padding: 1rem;
   
}

.skills-card:hover{
    border:  solid .01rem #333333;
    background-color: #4682B4;
    color: #333333;
}

.skills-card ul{
    display: flex;
    gap:5rem;
}

/*
    content-section class styling
*/
.content-section{
    padding: 1rem;
}

/*
    background-blue and background-black classes for highlighting specific sections
*/
.background-blue{
    background-color: #4682B4;
    
    
}

.background-black{
   background-color: #333;
   color:#D3D3D3;
}

/* Headers */
h1,h2,h3{
    font-family: "Montserrat", sans-serif;
}



a{
    font-family: "Lora", serif;
}